<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/login.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
  
  <div id="panel">
    <header>
    <img src="images/svg/logo.svg" alt="autostrade per l'italia" width="500px">
    </header>
    
      <form action="/login" method="POST">
        <fieldset>
          <div id="loginArea">

            <label for="email"><p>Email</p></label>
            <input type="email" id="email" name="email" required>
            <label for="password"><p>Password</p></label>
            <input type="password" id="password" name="password" required>
            
              <% if (messages.error) { %>
                <%= messages.error %>
                <% } %>
             
            <button type="submit"><p>Login<p></button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>